#pricesOverviewContainer {
  .uk-table {
    td {
      padding: 6px 12px 6px 0;
      width: 50%;
    }
  }
}

#placesOverviewContainer {
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      //font-size: .8em;
      text-align: right;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      text-align: left;
      vertical-align: bottom;
      //font-size: 16px;
      font-weight: 700;
      color: #666;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
}

.uk-table-small td, .uk-table-small th {
  padding: 10px 12px 10px 0;
}