/* Utilities */
/* ------------------------------------------ */
/*                 CONTENTS                   */
/* ------------------------------------------ */
/*   01 - General                             */
/*   02 - Fonts                               */
/*   03 - Boxes                               */

/*   01 - General                             */
body {
  background-color: $primary-background;
  height: auto;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-family-base;
  font-size: 100%;
  line-height: normal;
  letter-spacing: normal;
}

a, a:visited {
  color: $blue;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $dark-gray;
  }
}

.product-config-container {
  @media (min-width: 1200px) {
    .uk-width-1-2\@l {
      width: 47%;
    }
  }
}

.uk-grid > * {
  padding-left: 15px;
  @media (min-width: 1200px) {
    padding-left: 30px;
  }
}

/*   02 - Fonts                               */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.uk-heading-line {
  color: $dark-gray;
  font-size: 20px;
  line-height: 34px;
  padding-right: 10px;
  //margin-bottom: 10px;
  font-weight: $font-weight-semibold;
  &.small {
    font-size: 1em;
  }

}

.uk-heading-line > ::after, .uk-heading-line > ::before {
  border-bottom: 1px solid $light-gray3;
}

.error-text {
  color: $red;
  margin-bottom: 20px;
}

p {
  margin: 0 0 15px 0;
  line-height: 24px;
}

/*   03 - Boxes                               */

.blue-box {
  background: $light-blue;
  padding: 0.5rem;
  color: black;
}

/* Forms */

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
  background-color: $blue;
  border-color: transparent;
}

.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
  background-color: $blue;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus,
input[type="text"], input[type="password"], input[type="email"], textarea, select {
  border: 1px solid $light-gray;
  padding: 8px 9px;
  outline: none;
  font-size: 14px;
  color: $middle-gray;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  border: 1px solid $light-gray2;
  color: $middle-gray;
}

.uk-checkbox:focus, .uk-radio:focus {
  outline: 0;
  border-color: $blue;
}

.stripe-loading-indicator .stripe, .stripe-loading-indicator .stripe-loaded {
  background: $blue !important;
}

#plzForm {
  label {
    margin-right: 20px;
    margin-bottom: 10px;
    display: block;
    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
  .uk-heading-line {
    margin-bottom: 0;
  }
  .select-container{
    margin: 40px 0 40px 0;
  }
  #rangeContainer{
    display: none;
  }
}

#productConfigForm{
  position: relative;
}

.dotted-container{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  border: 3px dotted #00325e;
  top: -3px;
  right: -3px;
  pointer-events: none;
}

.t-datepicker{
  .t-start{
    background: #00325e;
  }
  .t-end{
    background: #00325e;
  }
  .t-range, .t-range-limit{
    color: #000C17;
    background: #0788FB;
  }
  .t-highlighted{
    color: #000C17;
  }
  .t-end.t-highlighted, .t-start.t-highlighted{
    color: #ffff;
  }
}

#postaktuell-logo{
  width: 250px;
}

#header{
  height: 65px;
  background-color: white;
}

.cost-headline{
  text-align: center;
}

.cost-container{
  .uk-heading-line{
    font-size: 16px;
  }
  p{
    font-size: 15px;
    margin: 0;
  }
}