/* Variables */
/* ------------------------------------------ */
/*                 CONTENTS                   */
/* ------------------------------------------ */
/*   01 - General                             */
/*   02 - Colors                              */
/*   03 - Fonts                               */
$primary-background: #00325E;
$secondary-background: #F9F9F9;
$blue: #003366;

$light-blue: #CCD6E0;

$light-gray: #e0e0e0;
$light-gray2: #d6d6d6;
$light-gray3: #f0f0f0;
$gray: #a0a0a0;
$middle-gray: #888;
$dark-gray: #505050;

$red: #E55555;

$font-family-base: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;