.widget {
  margin: auto;
  height: auto;
  //background-color: $secondary-background;
  background-color: white;
  padding: 15px;
  @media screen and (min-width: 768px) {
    padding: 25px;
    padding-top: 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 40px;
    padding-top: 0;
  }
}


.ul{
  padding-left: 30px!important;
}

.items-container {
  width: 100%;
  .items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 12px;
    label {
      margin-bottom: 5px;
    }
  }
}

.product-config {
  height: auto;
  background-color: $secondary-background;
  padding: 0.5rem;
  color: black;
  margin-bottom: 20px;
  width: 100%;
  @media screen and (min-width: 1200px) {
    margin: 20px;
    width: 93%;
  }
  button {
    align-self: flex-end;
  }
}

#map {
  width: calc(100% + 15px);
  height: 100%;
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.map-config {
  position: relative;
  margin-top: 0;
  height: 250px;
  @media screen and (min-width: 768px) {
    height: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin: 20px;
  }
  .uk-heading-line {
    margin-bottom: 20px;
  }
}
.location-information {
  margin-bottom: 0;
}

.confirm-order-form {
  text-align: right;
}

//loading indicator
.loading-indicator{
  h3{
    margin-top: 20px;
    color: white;
  }
}

.maps-control-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 64, 122, .8);
}

.mapdisable{
  display: none;
  h2{
    color: #fff;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: white;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.uk-button,
.uk-button-default {
  background-color: $blue;
  color: #fff;
  padding: 8px 14px;
  border: none;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.1);
  display: inline-block;
  border: 0;
  font-weight: $font-weight-regular;
  outline: none;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
  width: auto;
  text-transform: none;
  &:hover,
  &:focus,
  &:active {
    background: $gray;
    color: white;
    border: 0;
  }
}

.uk-fieldset{
  padding-top: 15px;
  padding-bottom: 15px;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.items{
  animation-name: fadeIn;
  animation-duration: 0.5s;
}  