<div class="product-config-container uk-flex uk-flex-center uk-width-1-1" uk-grid>
    <div class="uk-width-1-2@l">
        <div class="product-config location-information uk-flex uk-flex-between">
            <div>
                {% if locationInformation.zip %}
                    <h5>{{ locationInformation.zip }}</h5>
                {% else %}
                    <h5>Lat: {{ locationInformation.Lat }}, Long: {{ locationInformation.Long }}</h5>
                {% endif %}
                {% if locationInformation.radio ==  0 %}
                    <span>An jeden Haushalt</span>
                {% else %}
                    <span>Nur an Haushalte mit Tagespost</span>
                {% endif %}
                {% if locationInformation.area == 1 %}
                    <br><span>Radius: {{ locationInformation.radius }} km</span>
                {% endif %}
                <input type="hidden" id="producttype" value="{{ locationInformation.radio }}">
                <input type="hidden" id="setArea" value="{{ (locationInformation.area == 1) ? 1 : 0 }}">
                <input type="hidden" id="radius" value="{{ locationInformation.radius }}">
            </div>
            <a id="onZipReset" data-request="onZipReset" onclick="removeMapData()" class="changeLink"
               data-attach-loading data-request-validate>ändern
            </a>
        </div>
        <div id="productSection">
            {% if data is not defined %}
                {% partial 'productsection/config' %}
            {% else %}
                {% partial 'productsection/overview' %}
            {% endif %}
        </div>
    </div>

    <div class="uk-width-1-2@l uk-flex uk-flex-column">
        <div style="margin-left: 20px; margin-top: 20px;">
            <h2 class="uk-heading-line">3. Verteilgebiet auswählen</h2>
            <p>Durch Klick auf die Karte können die Postleitzahlgebiete gewählt oder ausgeschlossen werden.</p>
        </div>
        <div class="map-config uk-width-1-1">
            <div id="map"></div>
            <div class="loading-indicator maps-control-container uk-flex uk-flex-column uk-flex-center uk-flex-middle">
                <div class="spinner"></div>
                <h3>Lädt...</h3>
            </div>
            <div class="mapdisable maps-control-container uk-flex uk-flex-center uk-flex-middle">
                <h2 class="uk-padding">Sie müssen, bevor Sie aus der Karte ein Gebiet auswählen können, in "Schritt 2"
                    ein Produkt zusammenstellen.</h2>
            </div>
            <div id="dottedMap" class="dotted-container"></div>
            <script>
                initMap("{{ locationInformation.zip }}", {{ (locationInformation.area == 1) ? 1 : 0 }}, {{ (locationInformation.Lat) ? locationInformation.Lat : 0 }}, {{ (locationInformation.Long) ? locationInformation.Long : 0 }});
            </script>
            {% put scripts %}
                <script>
                    initMap("{{ locationInformation.zip }}", {{ (locationInformation.area == 1) ? 1 : 0 }}, {{ (locationInformation.Lat) ? locationInformation.Lat : 0 }}, {{ (locationInformation.Long) ? locationInformation.Long : 0 }});
                </script>
            {% endput %}
        </div>

        <div id="placesOverview" class="uk-margin-top">

        </div>
    </div>

</div>