<form data-request="onSendOrder">
    <fieldset class="uk-fieldset">

        <div class="order-overview">
            <h3 class="uk-heading-line"><span>Produkt</span></h3>
            <p>{{ data.product }}</p>

            <h3 class="uk-heading-line cost-headline uk-margin-top"><span>Kosten</span></h3>
            <div class="cost-container">
                <h2 class="uk-heading-line"><span>Druck und Konfektionierung</span></h2>
                <p>{{ (data.productPrice)|number_format(2, ',', '.') }} €</p>
                {% if data.sumCostumShippingPrice > 0 %}
                <div class="uk-margin-small-left">
                    <h3 class="uk-heading-line"><span>Davon {{ shippingMethod.name }} Zuschlag</span></h3>
                    <p>{{ (data.sumCostumShippingPrice)|number_format(2, ',', '.') }} €</p>
                </div>
                {% endif %}
            </div>

            <h3 class="uk-heading-line uk-margin-top"><span>Orte</span></h3>
            <ul class="uk-list">
                {% for place in data.places %}
                    <li>
                        {{ place.zip }}, {{ place.volume }}
                        Haushalte, Entgeld: {{ (place.sendingCosts)|number_format(2, ',', '.') }} €
                    </li>
                {% endfor %}
            </ul>
            <h3 class="uk-heading-line  uk-margin-top"><span>Kosten insgesamt</span></h3>
            <p>{{ (data.allCosts)|number_format(2, ',', '.') }} €</p>

            {% if data.locationInformation.tstart is defined %}
                <div {% if posttaskInfo %} uk-tooltip="title: {{ posttaskInfo }}; pos: right" {% endif %}>
                    <h3 class="uk-heading-line uk-margin-top"><span>Postaufgabe:</span></h3>
                    <p>{{ data.locationInformation.tstart|date("d.m.Y") }}</p>
                </div>
            {% endif %}
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="first_name" placeholder="Vorname">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="last_name" placeholder="Nachname">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" name="email" placeholder="E-Mail">
        </div>

        <div class="uk-margin uk-form-width-large">
            <label><input class="uk-checkbox" type="checkbox" name="is_remaining_stock" value="true"> Ich möchte Restposten erhalten.</label>
        </div>

        <div class="uk-margin uk-form-width-large">
            <label><input class="uk-checkbox" type="checkbox" name="privacy" value="accepted"> Ich habe die <a href="#">Datenschutzerklärung</a>
                zur Kenntnis genommen. Ich stimme zu, dass meine Angaben und Daten zur Beantwortung meiner Anfrage
                elektronisch erhoben und gespeichert werden.</label>
        </div>

        <button id="onSendOrder" class="uk-button uk-button-default uk-margin-top-small" type="submit"
                data-request="onSendOrder"
                data-attach-loading data-request-validate>Senden
        </button>

    </fieldset>
</form>