<div class="uk-flex uk-flex-center uk-flex-middle">
    <h1 class="uk-padding">Anfrage erfolgreich, vielen Dank, Sie erhalten in kürze eine E-Mail von uns, in welcher wir die Anfrage für Sie zusammengefasst haben.</h1>
</div>