<div class="widget-plz-finder">
    <form id="plzForm" class="plz-form uk-padding" data-request="onZipConfirm" data-request-validate>
        <div class="uk-margin">
            <div class="error-text" data-validate-error></div>
            <label class="uk-form-label" for="plz"><h3 class="uk-heading-line"><span> Ort/Gebiet suchen: (<a href="#" onclick="getLocation()">oder Standort bestimmen</a>)</span></h3>
            </label>
            <div class="uk-form-controls">
                <input class="uk-input autocomplete" id="autocomplete" type="text" placeholder="Mein Zielgebiet"
                       name="form[zip]" onfocus="initAutocomplete(this)" autocomplete="off">
            </div>
        </div>
        <div class="select-container">
            <div class="uk-form-controls">
                <label><input id="selectPlz" class="uk-radio" type="radio" name="form[area]" value="0" onclick="$('#rangeContainer').fadeOut();" checked> PLZ Gebiete wählen</label>
                <label><input id="selectArea" class="uk-radio" type="radio" name="form[area]" value="1" onclick="$('#rangeContainer').fadeIn();"> Umkreis wählen</label><br>
                <div id="rangeContainer" class="uk-margin">
                    <label id="rangeLable" class="uk-form-label" for="range">Umkreis: 0.5 km</label>
                    <input id="range" name="form[radius]" class="uk-range" type="range" value="0.5" min="0.5" max="5"
                           step="0.5"
                           onchange="document.getElementById('rangeLable').innerHTML = 'Umkreis: ' + this.value + ' km';">
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label><input class="uk-radio" type="radio" name="form[radio]" value="0" checked> An jeden
                Haushalt</label>
            <label><input class="uk-radio" type="radio" name="form[radio]" value="1"> Nur an Haushalte mit
                Tagespost</label>
        </div>
        <div class="t-datepicker uk-margin-top">
            <div class="t-check-in"></div>
            <script type="text/javascript">
                Date.prototype.addDays = function (days) {
                    var date = new Date(this.valueOf());
                    date.setDate(date.getDate() + days);
                    return date;
                };
                if (typeof $ !== 'undefined') {
                    initTdate();
                } else {
                    var datepickerIntervall = setInterval(function () {
                        if (typeof $ !== 'undefined') {
                            initTdate();
                            clearInterval(datepickerIntervall)
                        }
                    }, 100)
                }
            </script>
        </div>
        <input type="hidden" id="formZipName" name="form[zip_name]" value="">
        <input type="hidden" id="formLat" name="form[Lat]" value="">
        <input type="hidden" id="formLong" name="form[Long]" value="">
        <button id="onZipConfirm" class="uk-button uk-button-default uk-margin-top" type="submit"
                data-request="onZipConfirm"
                data-attach-loading data-request-validate>abfragen
        </button>
    </form>
</div>