<div id="placesOverviewContainer" class="product-config">
    <h3  class="uk-heading-line"><span>Orte:</span></h3>
    <table class="uk-table uk-table-small uk-table-divider">
        <thead>
        <tr>
            <th>PLZ</th>
            <th>Haushalte</th>
            <th>Entgeld</th>
            <th>Optionen</th>
        </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td data-label="PLZ">{{ place.zip }}</td>
                <td data-label="Haushalte">{{ place.volume }}</td>
                <td data-label="Entgeld">{{ (place.sendingCosts)|number_format(2, ',', '.') }} €</td>
                <td data-label="Optionen"><a href="#" onclick="deletePlace('{{ place.zip }}'); event.preventDefault();">löschen</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button id="onOrderConfirm" class="uk-button uk-button-default"
            data-request="onOrderConfirm" data-request-data="places: places"
            data-attach-loading data-request-validate>Senden
    </button>
</div>
