<div id="pricesOverviewContainer" class="product-config uk-flex uk-flex-column">
    <h3  class="uk-heading-line"><span>Preis:</span></h3>
    <table class="uk-table">
        <tbody>
        <tr>
            <td>Druck und Konfektionierung:</td>
            <td>{{ (productPrice)|number_format(2, ',', '.') }} €</td>
        </tr>
        <tr>
            <td>Verteilungspreis:</td>
            <td>{{ (shippingPrice)|number_format(2, ',', '.') }} €</td>
        </tr>
        </tbody>
    </table>
    <table class="uk-table">
        <tbody>
        <tr>
            <td>Kosten insgesamt:</td>
            <td>{{ (productPrice + shippingPrice)|number_format(2, ',', '.') }} €</td>
        </tr>
        </tbody>
    </table>
</div>