<div class="items">
    {% for format in formats %}
        <label>
            <input class="uk-radio" type="radio" name="config[format]" data-request="onFormat"
                   data-request-data="format_id: {{ format.id }}" data-attach-loading
                   value="{{ format.id }}">
            <span class="labelText">{{ format.fullInfoList }}</span>
        </label>
    {% endfor %}
</div>