<div class="items">
    {% for material in materials %}
        <label>
            <input class="uk-radio" type="radio" name="config[material]" value="{{ material.id }}">
            <span class="labelText">{{ material.fullInfoList }}</span>
        </label>
    {% endfor %}
</div>