<div class="items">
    {% for shipping_method in shipping_methods %}
        <label {% if shipping_method.description %} uk-tooltip="title: {{ shipping_method.description }}" {% endif %}>
            <input class="uk-radio" type="radio" name="config[shipping_method]" value="{{ shipping_method.id }}">
            <span class="labelText">{{ shipping_method.name }}</span>
        </label>
    {% endfor %}
</div>