{% if products is not empty %}
    <form id="productConfigForm" class="product-config uk-flex uk-flex-column uk-flex-top"
          data-request="onConfigConfirm" data-request-validate>
        <div id="dottedProductConfig" class="dotted-container"></div>
        <div class="items-container">
            <h2 class="uk-heading-line">2. Druckprodukt</h2>
            <p>Konfigurieren Sie Ihr Wunschprodukt in 3 kurzen Schritten (Produkt, Format, Material) und wählen Sie eine Versandart aus:</p>
            <div class="error-text" data-validate-error></div>
            <h3 class="uk-heading-line small"><span>Produkt:</span></h3>
            <div class="items">
                {% for product in products %}
                    <label> <input class="uk-radio" type="radio" name="config[product]" data-request="onProduct"
                                   data-request-data="product_id: {{ product.id }}" data-attach-loading
                                   value="{{ product.id }}"> <span class="labelText">{{ product.name }}</span> </label>
                {% endfor %}
            </div>
        </div>
        <div class="items-container">
            <h3 class="uk-heading-line small"><span>Format:</span></h3>
            <div id="formats">

            </div>
        </div>
        <div class="items-container">
            <h3 class="uk-heading-line small"><span>Material:</span></h3>
            <div id="materials">

            </div>
        </div>
        <div class="items-container">
            <h3 class="uk-heading-line small"><span>Versand:</span></h3>
            <div id="shipping_methods">

            </div>
        </div>
        <button id="onConfigConfirm" class="uk-button uk-button-default" type="submit"
                data-request="onConfigConfirm"
                data-request-success="handleMapDisable(true)"
                data-attach-loading data-request-validate>Speichern
        </button>
    </form>
{% else %}
    <div class="product-config uk-flex uk-flex-column uk-flex-top">
        <div class="items-container">
            <h3 class="uk-heading-line small"><span>Es wurden keine Produkte angelegt.</span></h3>
        </div>
    </div>
{% endif %}