<div class="product-config uk-flex uk-flex-between">
    {{ data }}
    <a id="onConfigReset" data-request="onConfigReset" onclick="removeMapData()" class="changeLink" data-attach-loading data-request-validate>ändern
    </a>
    <input type="hidden" id="isProductSet" value="set">
</div>
<div class="product-config uk-flex uk-flex-between">
    Sendungsgewicht {{ weight }} g
    <input type="hidden" id="weight" value="{{ weight|number_format() }}">
</div>
<div id="pricesOverview">

</div>