Bestellung vom {{ order.ordered_at }},<br>
{{ customer.first_name }} {{ customer.last_name }},<br>
{{ email }}<br>
Ausgewählte Postleitzahlen:
<ul>
    {% for place in orderInfo.places %}
        <li>
            {{ place.zip }}, <br>
            Versandkosten: {{ (place.sendingCosts)|number_format(2, ',', '.') }} €<br>
            Reichweite: {{ place.volume }} Haushalte
        </li>
    {% endfor %}
</ul>
Versandmethode: {{ shippingMethod.name }} <br>(Versandtkostenzuschlag {{ orderInfo.sumCostumShippingPrice|number_format(2, ',', '.') }} €)<br><br>
Druck und Konfektionierung: {{ (orderInfo.productPrice)|number_format(2, ',', '.') }} €<br><br>
Kosten Versand und Produkt insgesamt: {{ (orderInfo.allCosts)|number_format(2, ',', '.') }} €<br>

{% if locationInformation.tstart is defined %}
    Postaufgabe: {{ locationInformation.tstart|date("d.m.Y") }}
{% endif %}

{% if remainingStock %}
    Ich möchte Restposten erhalten.
{% endif %}

<p>Ihre angegebenen Informationen werde schnellstmöglich bearbeitet. Wir melden uns bezüglich der Bestellung sehr bald bei Ihnen.</p>
<p>Druckerei Jakobs</p>