description = "Base layout"

[viewBag]
[widget]
[products]
==
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Druckerei Jakobs - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="NextLevels">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="base_package_theme">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="{{ 'assets/css/layout.min.css'|theme }}">
    {% styles %}
</head>
<body>

<div id="header" class="uk-container uk-flex uk-flex-bottom uk-flex-right">
    <img id="postaktuell-logo" src="{{ 'assets/images/postaktuell.png' |theme }}">
</div>
{% page %}

<!-- Scripts -->
<script src="{{ 'assets/js/script.min.js'|theme }}"></script>
{% framework extras %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB_Vf6ZLDgut0caIstY95NJ5CV6sbHnk4&libraries=places"></script>
{% scripts %}
</body>
</html>