title = "Postaktuell"
url = "/"
layout = "default"
==
<div id="flash-message"></div>

<div id="widget" class="widget uk-container uk-flex uk-flex-middle uk-flex-center">
    {% if locationInformation is not defined %}
        {% partial 'zip-finder' %}
    {% else %}
        {% partial 'config' %}
    {% endif %}
</div>